
*{
  box-sizing: border-box;
}

/* @font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/MaterialIcons-Regular.eot');
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('fonts/MaterialIcons-Regular.woff2') format('woff2'),
    url('fonts/MaterialIcons-Regular.woff') format('woff'),
    url('fonts/MaterialIcons-Regular.ttf') format('truetype');
} */


@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.eot');
  src: local('Roboto');
  src: url('fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
      url('fonts/Roboto-Regular.woff2') format('woff2'),
      url('fonts/Roboto-Regular.woff') format('woff'),
      url('fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
  display: flex;
  flex-direction: row;
  color: rgb(0 0 0 / 87%);
  overflow-x: hidden;
}

a{
  color: rgb(15 93 209 / 87%);
}

button{
  cursor: pointer;
}

#page{
  position: relative;
}

main{
  flex-shrink: 1;
  flex-grow: 0;
  overflow-x: auto;
}

.material-icons{
  color: #666;
  max-width: 24px;
}


input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea{
  position: relative;
  z-index: 1;
}


aside{
  width: 64px;
  background-color: #0747A6;
  color: rgb(255 255 255 / 87%);
  flex-shrink: 0;
  position: relative;
  z-index: 1;
}

aside .aside-menu-container{
  position: fixed;
  height: 100vh;
  z-index: 1111;
  overflow: auto;
}

aside a{
  color: currentColor
}

aside .divider{
  margin: 8px 0;
  background-color: rgb(255 255 255 / 17%);
  flex-shrink: 0;
}


.page-title{
  font-size: 20px;
  margin: 0;
  line-height: 1.5;
}

.logo-container {
  padding: 16px 12px;
}

.menu-main-menu-container{
  width: auto;
  height: auto;
  background-color: transparent;
  box-shadow: none;
}

.main-menu li.current-menu-item,
.main-menu li.current-category-ancestor,
.main-menu li.current-page-ancestor{
  background-color: rgb(255 255 255 / 22%);
}

.main-menu{
  width: 100%;
  display: flex;
  margin: 0;
  flex-direction: column;
}

.main-menu .menu-item{
  display: flex;
  flex-direction: column;
}

.main-menu .menu-item a{
  height: 64px;
  font-size: 10px;
  padding: 0;
  line-height: 24px;
  color: rgb(255 255 255 / 87%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}


.main-menu .menu-item a .material-icons{
  height: 24px;
  width: 24px;
  line-height: 24px;
  color: rgb(255 255 255 / 87%)
}

.main-menu .menu-item .badge.new{
  position: absolute;
  top: 4px;
  right: 4px;
  border-radius: 100%;
}

article.container{
  width: 100%;
  max-width: 100%;
  margin-top: 0;

}

.page-footer{
  /* background-color: transparent;
  border: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; */
  border: 0;

}

.page-content{
  padding: 24px;
  padding-top: 8px;
  flex-grow: 1;
  margin: 0;
  /*height: fit-content;*/
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

menu + .page-content{
  margin-left: 8px;
}

.catalog{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.catalog > div{
  flex-grow: 1
}

.page-content header,
.catalog header{
  min-height: 64px;
}

.sidenav{
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

.sidenav__content{
  flex-grow: 1;

}

.sidenav__content-wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* .sidenav__content form{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
} */

.sidenav__content form.col{
  padding: 16px 16px 0;
}

menu.sidenav{
  padding: 0;
  width: 260px;

}

menu.sidenav li a{
  color: rgb(0 0 0 / 87%);
}

menu.sidenav li a .material-icons{
  margin-right: 12px;
  color: #666;
}

menu.sidenav li.active .material-icons, menu.sidenav li.active a{
  color: rgb(7 71 166 / 87%);
  font-weight: normal;
}

menu.sidenav li.active{
  background-color: #ebecf0;
  border-radius: 4px;
}

.sidenav__header{
  min-height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  color: #fff;
  background-color: #0747a6;
}

.sidenav__title{
  order: 2;
}

.sidenav__sub-title{
  font-size: 12px;
}

.sidenav__title, .sidenav__title:empty + .sidenav__sub-title{
  font-size: 20px;
}

.sidenav__header .sidenav__title, .sidenav__header .material-icons{
  color: #fff;
}

.sidenav__actions{
  padding: 16px 8px;
  display: flex;
  justify-content: flex-end;
}

.sidenav__actions .btn:last-child{
  margin-left: 8px;
}

header h5, header .input-field{
  margin: 0;
}


.file-field .btn{
  color: rgb(7 71 166 / 87%);
}

.file-field .btn:hover{
  background: transparent;
}


.row{
  margin-bottom: 0;
}

.radio-item{
  margin: 18px 0;
}

.radio-item label{
  color: rgba(0,0,0,0.87);
}

.radio-item input.radio-item_input{
  margin: 0 8px 4px 8px;
}

.sidenav .logo-container{
  display: flex;
  align-items: center;
}

.sidenav .logo-container .logo-image{
  margin-right: 8px;
}

.sidenav .logo-container .site-name{
  margin: 2px 0;
  color: #fff;
}

.sidenav .logo-container .site-slogan{
  font-size: 12px;
  line-height: 1.4;
}


.sidenav li>a>i{
  margin-right: 16px;
}

.dropdown-content li>a,
.dropdown-content li>span,
.dropdown-content li label{
  font-size: 14px;
}





ul.tabs, .tabs-pages{
  border-bottom: 1px solid rgba(0,0,0,0.12);
  display: flex;
  overflow-x: auto;
  max-width: 100%;
  margin: 0;
}

.tabs-pages{
  
}

.tabs-pages .menu-item{
  min-height: 48px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

.tabs-pages .menu-item a{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  height: 100%;
  line-height: 48px;
}

.tabs-pages .current-menu-item:after{
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: rgb(7 71 166 / 87%);
}


.tabs .tab, .tabs-custom .tab{
  flex-grow: 0!important;
}

.tabs .tab.col{
  padding: 0;
}


/* .tab .btn-flat.icon-button{
  border-radius: 0!important;
  height: 48px!important;
  max-height: 48px!important;
  width: 48px!important;
  max-width: 48px!important;
} */



#sidepage{
  left: auto;
  right: 0;
  top: 0;
  bottom: 0;
  width: 760px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  max-height: 100%;
  box-shadow: 0px 8px 10px -5px rgba(0,0,0,0.2), 0px 16px 24px 2px rgba(0,0,0,0.14), 0px 6px 30px 5px rgba(0,0,0,0.12);
  box-sizing: border-box;
  padding-bottom: 0;
  transform-style: preserve-3d;
  will-change: transform;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-property: transform;
  overflow-y: auto;
  /*animation: slide-left 0.2s ease;*/
  transform: translateX(0);
}

#sidepage.hide-animation{
  transform: translateX(100%);
}

#sidepage nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

#sidepage nav .material-icons{
   color: rgba(255,255,255,.87);
}

#sidepage section {
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
  background: #f4f4f4;
}

#sidepage section.content-shadow + footer{
  box-shadow: 0px 0px 4px 2px rgba(0,0,0,.2);
  position: relative;
}


#sidepage footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    min-height: 64px;
    padding: 0 8px;
}

#sidepage footer .btn-flat,
#sidepage footer .btn{
  margin: 8px;
}

@keyframes slide-left {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(0);
  }
}



.sidepage-title{
  margin: 0;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 20px;
}

.sidepage-title img{
  margin-right: 16px;
  max-height: 48px;
  max-width: 48px;
  border-radius: 100%;
  font-size: 20px;
}








.sidepage-datalist .row{
  min-height: 24px;
}

.sidepage-group-title{
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 8px;
  text-shadow: 0 0 1px rgb(0 0 0 / 24%);
}

fieldset{
    padding: 0;
    border: 0;
    margin: 0;
}

#post-container{
  min-height: 100%;
}

#post-container form{
  padding: 0;
}




.tab .btn-flat{
  height: 100%;
  line-height: 1;
}

.tabs .tab a, .tabs .tab a.active{
  color: rgb(7 71 166 / 87%);
}

.tabs .indicator{
  background-color: rgb(7 71 166 / 87%);
}

.tabs-custom {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    height: 48px;
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    white-space: nowrap
}

.tabs-custom.tabs-custom-transparent {
    background-color: transparent
}

.tabs-custom.tabs-custom-transparent .tab a,.tabs-custom.tabs-custom-transparent .tab.disabled a,.tabs-custom.tabs-custom-transparent .tab.disabled a:hover {
    color: rgba(255,255,255,0.7)
}

.tabs-custom.tabs-custom-transparent .tab a:hover,.tabs-custom.tabs-custom-transparent .tab a.active {
    color: #fff
}

.tabs-custom.tabs-custom-transparent .indicator {
    background-color: #fff
}

.tabs-custom.tabs-custom-fixed-width {
    display: flex
}

.tabs-custom.tabs-custom-fixed-width .tab {
    flex-grow: 1
}

.tabs-custom .tab {
    display: inline-block;
    text-align: center;
    line-height: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
    text-transform: uppercase
}

.tabs-custom .tab a {
    color: rgba(68,138,255,0.7);
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 24px;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: color .28s ease, background-color .28s ease
}

.tabs-custom .tab a:focus,.tabs-custom .tab a:focus.active {
    background-color: rgba(145,186,255,0.2);
    outline: none
}

.tabs-custom .tab a:hover,.tabs-custom .tab a.active {
    background-color: transparent;
    color: #448AFF
}

.tabs-custom .tab.disabled a,.tabs-custom .tab.disabled a:hover {
    color: rgba(68,138,255,0.4);
    cursor: default
}

.tabs-custom .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #91baff;
    will-change: left, right
}


.tabs-custom .tab, .tabs-custom{
  height: 56px;
}

.tabs-custom .tab a{
  line-height: 56px;
}

.tabs-custom .tab.current-menu-item{

  position: relative;
}

.tabs-custom .tab.current-menu-item:after{
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(7 71 166 / 87%);
}

.tabs-custom .indicator{
  background-color: rgb(7 71 166 / 87%);
}

.tabs-custom .tab a:hover, .tabs-custom .tab a.active,
.tabs-custom .tab a{
  color:  rgb(7 71 166 / 87%);
}

 .tabs-custom .tab a.active{
   font-weight: bold;
 }


.tabs-custom .tab a:focus, .tabs .tab a:focus.active{
  background-color: rgb(7 71 166 / 3%);
}

@media only screen and (max-width: 992px) {
    .tabs-custom {
        display:flex
    }

    .tabs-custom .tab {
        flex-grow: 1
    }

    .tabs-custom .tab a {
        padding: 0 12px
    }
}


.progress{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(7 71 166 / 44%);
  margin: 0;
}

.progress .indeterminate{
  background-color: rgb(7 71 166 / 100%);
}



table{
  border: 1px solid rgba(0,0,0,0.12);
  border-bottom: 0;
  border-radius: 4px;
  border-collapse: separate;
}

thead tr{
  height: 56px;
}

tr{
  border: 0;
}

.selected-row{
  background-color: #edf4fd!important;
}

.card td{
  height: 56px;
}

th{
  font-size: 12px;
  color: rgba(0,0,0,.54);
  padding: 0 16px;
  font-weight: normal;
}

td, th{
  font-size: 13px;
  padding: 8px 16px;
  border-bottom: 1px solid rgba(0,0,0,0.12);
}

th{
  font-size: 12px;
}

/* td:first-child, th:first-child{
  padding-left: 24px;
}
td:last-child, th:last-child{
  padding-right: 24px;
} */


td.actions-cell{
  padding-top: 0;
  padding-bottom: 0;
  width: 1%;
  white-space: nowrap;
}

th.actions-cell{
  background: transparent!important;
  background-image: none!important;
  pointer-events: none;
}

td.actions-cell .select-dropdown{
  margin: 0;
}

td.actions-cell .input-field{
  margin: 8px 0;
  margin-top: 0;
}


.narrow-block{
  width: 1%;
}

.actions-cell{
  white-space: nowrap;
  width: 1%;
}

.actions-cell .icon-button, .tab-actions .icon-button{
  margin-left: 4px;
}

.actions-cell .icon-button:first-child, .tab-actions .icon-button:first-child{
  margin-left: 0;
}

.radio-group-title{
  margin-bottom: 24px;
  margin-top: 0;
}







#main-toolbar .nav-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-content-aligner{
  display: flex;
  align-items: center;
  height: 100%;
  flex-grow: 1;
}








.datepicker-footer{
  margin: 8px 16px;
}


.datepicker-day-button{
  line-height: 46px!important;
}

.datepicker-day-button:hover{
  background-color: #e6e6e6;
}




.datepicker-table-wrapper .datepicker-row td, .datepicker-table-wrapper th{
  padding: 0!important;
}







span.badge.new{
  min-width: 24px;
}

span.badge.new:after{
  content: "";
}






#confirm-dialog{
  max-width: 500px;
  top: 35%!important;
}

.btn-secondary, .btn-secondary:hover{
  color: rgb(7 71 166 / 87%);
  box-shadow: none;
  background: none;
}





















.avatar{
  border-radius: 100%;
  max-width: 40px;
  max-height: 40px;
  display: block;
}



.avatar-status {
    line-height: 50px;
    position: relative;
    display: inline-block;
    width: 28px;
    vertical-align: bottom;
    border-radius: 50px
}

.avatar-status i {
    position: absolute;
    right: -2px;
    bottom: 18px;
    width: 9px!important;
    height: 9px!important;
    border: 1px solid #fff;
    border-radius: 100%
}

.avatar-status span.text-circle {
    font-size: 1.2rem;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    background: #fafafa
}

.avatar-status img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 0;
    border-radius: 1000px;
    background: #e6e6e6
}

.avatar-online i {
    background-color: #00e676
}

.avatar-off i {
    background-color: #bdbdbd
}

.avatar-busy i {
    background-color: #ff1744
}

.avatar-away i {
    background-color: #ffc400
}


.user-avatar{
  border-radius: 100%;
  margin: 0;
  background-color: #9c9c9c;
  letter-spacing: 1px;
  font-size: 16px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.user-avatar_name{
  text-transform: uppercase;
  color: #fff;
  font-size: 0;
  width: 10px;
}
.user-avatar_name::first-letter{
  font-size: 16px;
}



#toast-container{
  top: auto;
  bottom: 16px!important;
  right: 16px!important;
}









tr.selected{
  background-color: rgb(38 166 154 / 40%)!important;
}

.sortable th span{
  float: left;
  pointer-events: none;
}

.sortable th{
  transition: all .25s ease;
  white-space: nowrap;

}


.sortable th:hover {
  color: #000;
  cursor: pointer;
}

.sortable th:hover::after {
  opacity: 0.6;
}

.sortable th::after {
  font-size: 1.2em;
  color: transparent;
  content: ' ';
  opacity: 0.2;
  background-image: url('images/arrow_downward_black_24dp.svg');
  background-size: 16px;
  height: 16px;
  width: 16px;
  display: inline-block;
  vertical-align: text-bottom;
  margin-left: 8px;
}

.sortable th.dir-d {
  color: #000;
}

.sortable th.dir-d::after {
  color: inherit;
  opacity: 0.6;
  background-image: url('images/arrow_downward_black_24dp.svg');
}

.sortable th.dir-u {
  color: #000;
}

.sortable th.dir-u::after {
  color: inherit;
  opacity: 0.6;
  background-image: url('images/arrow_upward_black_24dp.svg');
}





table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc{
  background-size: 18px;
}


table.dataTable thead .sorting{
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgba(0, 0, 0, 0.1)' width='18px' height='18px'%3E%3Cpath d='M16 17.01V10h-2v7.01h-3L15 21l4-3.99h-3zM9 3L5 6.99h3V14h2V6.99h3L9 3z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
}

table.dataTable thead .sorting_asc{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='black' width='18px' height='18px'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M20 12l-1.41-1.41L13 16.17V4h-2v12.17l-5.58-5.59L4 12l8 8 8-8z'/%3E%3C/svg%3E");
}

table.dataTable thead .sorting_desc{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='black' width='18px' height='18px'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M4 12l1.41 1.41L11 7.83V20h2V7.83l5.58 5.59L20 12l-8-8-8 8z'/%3E%3C/svg%3E");
}

td a, td .span-text{
  display: inline-block;
}

td img{
  display: block;
}




#filters{
  display: flex;
  align-items: center;
  background-color: #37474f;
}

#filters label,
#filters .title{
  color: rgba(255,255,255,.87);
}

.filters-wrapper{
  display: flex;
  align-items: center;
  padding: 12px 16px;
}

#filters [type="checkbox"].filled-in:not(:checked)+span:not(.lever):after{
  border-color: rgba(255, 255, 255, 0.26);
}

#filters .filter-item{
  margin-right: 32px;
  display: flex;
  align-items: center;
  position: relative;
}


#filters .users-list [type="checkbox"]+span:not(.lever){
  position: absolute;
  bottom: -8px;
  left: -8px;
}

#filters ul{
  margin: 0;
}



#sidenav-left nav{
  height: auto;
}


img{
  max-width: 100%;
}

#test-filter .waves-effect.active{
  background-color: #158277;
}


.loader{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition: visibility .25s ease;
  visibility: hidden;
  z-index: -1;
  display: none; */
}



.rounded{
  border-radius: 100%;
}

.p-none{
  padding: 0!important;
}


.m-none{
  margin: 0;
}

.mb-none{
  margin-bottom: 0!important;
}

.mb-double{
  margin-bottom: 16px!important;
}

.mt-none{
  margin-top: 0!important;
}


.mr-double{
  margin-right: 16px;
}

.mr-half{
  margin-right: 4px;
}

.mr-base{
  margin-right: 8px;
}

.mt-half{
  margin-top: 4px;
}




.block{
  display: block;
}


.flex-row{
  display: flex!important;
  align-items: center;
}

.flex-column{
  display: flex!important;
  flex-direction: column!important;
}

.flex-basis-33{
  flex-basis: 33.3333%
}


.flex-order-1{
  order: 1;
}

.flex-order-2{
  order: 2;
}

.flex-order-3{
  order: 3;
}

.flex-align-center{
  align-items: center;
}
.flex-justify-center{
  justify-content: center;
}

.flex-justify-end{
  justify-content: flex-end;
}

.flex-align-start{
  align-items: flex-start;
}

.flex-align-end{
  align-items: flex-end;
}

.flex-align-space-between{
  justify-content: space-between;
}

.flex-align-stretch{
  align-items: stretch;
}

.flex-grow{
  flex-grow: 1;
}

.flex-no-grow{
  flex-grow: 0;
}

.flex-no-shrink{
  flex-shrink: 0;
}

.flex-wrap{
  flex-wrap: wrap;
}

.full-width{
  width: 100%;
}

.full-height{
  height: 100%;
}

.pointer{
  cursor: pointer;
}


.m-none{
  margin: 0!important;
}

.m-half{
  margin: 4px!important;
}

.m-b-half {
  margin-bottom: 4px!important;
}

.m-b-none {
  margin-bottom: 0!important;
}

.m-base{
  margin: 8px!important;
}

.m-left-double{
  margin-left: 16px!important;
}

.m-left-base{
  margin-left: 8px!important;
}

.m-right-double{
  margin-right: 16px!important;
}

.m-right-base-neg{
  margin-right: -8px!important;
}

.m-t-base{
  margin-top: 8px;
}

.text-right{
  text-align: right;
}

.text-underline{
  text-decoration: underline;
}


button.chip{
  cursor: pointer;
}

button.chip.active{
  background-color: rgb(7 71 166 / 87%);
  color: #fff;
}


.status-cell input.dropdown-trigger[type=text]:not(.browser-default){
  text-indent: 16px;
  font-size: 13px;
  margin: 0;
  padding: 0 16px;
  border: 1px solid #dadce0;
  border-radius: 18px;
  height: 36px;
  line-height: 36px;
  box-sizing: border-box;
  display: block;
  min-width: 172px;
}

.status-cell input.dropdown-trigger[type=text]:not(.browser-default):hover{
  background-color: rgba(32,33,36,0.06);
}

.status-cell .select-wrapper .caret{
  right: 8px;
}

.status-cell .select-wrapper::before{
  content: "";
  display: block;
  position: absolute;
  left: 16px;
  top: 13px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.status-cell .select-wrapper{
  display: inline-block;
}

.status-cell[type-attr="36"] .select-wrapper::before{ /*На диагностике*/
  color: #fff;
  background-color: #343a40;
}
.status-cell[type-attr="3"] .select-wrapper::before{ /*В работе*/
  color: #212529;
  background-color: #ffc107;
}
.status-cell[type-attr="5"] .select-wrapper::before{ /*Готово*/
  color: #212529;
  background-color: #19f14b;
}
.status-cell[type-attr="34"] .select-wrapper::before{ /*На согласовании*/
  color: #fff;
  background-color: #17a2b8;
}
.status-cell[type-attr="2"] .select-wrapper::before{ /*новые*/
  color: #fff;
  background-color: #28a745;
}
.status-cell[type-attr="35"] .select-wrapper::before{ /*Нужны запчасти*/
  color: #fff;
  background-color: #e1e100;
}
.status-cell[type-attr="261"] .select-wrapper::before{ /*клиент отказался*/
  color: #fff;
  background-color: #6c757d;
}
.status-cell[type-attr="33"] .select-wrapper::before{ /*без ремонта*/
  color: #fff;
  background-color: #6c757d;
}
.status-cell[type-attr="4"] .select-wrapper::before{ /*Выдано*/
  color: #fff;
  background-color: #6c757d;
}


.collection{
  border-radius: 4px;
}

.collection:empty{
  border: 0;
  margin: 0;
}

.collection .collection-item{
  display: flex;
  align-items: center;
}

.cell-details-icon{
  margin-right: 12px;
  font-size: 11px;
}

.icon-button{
  padding: 0;
  width: 36px;
  height: 36px;
  border-radius: 100%;
}

.small-icon{
  color: #616161;
  font-size: 13px;
}

.avatar-icon{
  color: #616161;
  font-size: 32px;
  display: block;
}



.secondary-text{
  color: #666;
  font-size: 12px;
  line-height: 1.5;
}




.custom-tabs {
    height: 100%;
    }

    .custom-tabs>input[type="radio"] {
      display: none;
    }

    .custom-tabs>div {
      /* скрыть контент по умолчанию */
      display: none;
      border-top: 1px solid #e0e0e0;
      padding: 8px 16px;
      font-size: 16px;
    }

    /* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
    #tab-btn-1:checked~#content-1,
    #tab-btn-2:checked~#content-2{
      display: flex;
    }

    .custom-tabs>label {
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      user-select: none;
      background-color: #f5f5f5;
      border: 1px solid #e0e0e0;
      padding: 2px 8px;
      font-size: 16px;
      line-height: 1.5;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
      cursor: pointer;
      position: relative;
      top: 1px;
    }

    .custom-tabs>label:not(:first-of-type) {
      border-left: none;
    }

    .custom-tabs>input[type="radio"]:checked+label {
      background-color: #fff;
      border-bottom: 1px solid #fff;
    }

.sidenav-overlay ~ .sidenav-overlay, .sidenav-overlay ~ .modal-overlay{
  /*background: transparent;*/
}

article.sidenav ~ article.sidenav{
  /*margin-right: -16px;*/
}


.breadcrumbs{
  font-size: 12px;
}

.breadcrumbs .material-icons{
  font-size: 13px;
  margin: 0 4px;
  max-width: 13px;
  max-height: 13px;
}


.user-profile__avatar{
  max-width: 96px;
  margin-right: 16px;
}

.user-profile__name{
  font-size: 24px;
}

.user-profile__last-login{
  margin: 4px 0;

}


.settings-list{
  align-items: flex-start;
  margin: -8px;
  flex-wrap: wrap;
}

.settings-list li{
  display: flex;
  flex-direction: column;
  min-width: 50%;
  padding: 8px;
  flex-grow: 1;
}

.settings-list li a{
  display: flex;
  align-items: center;
  padding: 0 16px;
  min-height: 64px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  transition: .3s ease-out;
}

.settings-list li a .material-icons{
  margin-right: 12px;
}

.settings-list li a:hover{
  background-color: rgba(0,0,0,0.05);
}

.description-list-container{
  padding: 16px;
  margin: 16px;
}

.description-list{
  display: flex;
  flex-direction: column;
  margin: 8px;
}

.description-list__key{
  font-size: 12px;
  color: #666;
  margin-bottom: 2px;
}

.description-list__value{

}


#search-table .input-field input[type=search]{
  max-width: 320px;
  margin: 0;
}

#search-table{
  max-width: 320px;
  width: 100%;
}
.search-field{
  margin: 0;
}

.input-field input[type=search], .input-field input[type=search]:focus:not(.browser-default){
  background-color: #f1f3f4;
  border-radius: 8px;
  padding: 0 16px;
  box-sizing: border-box;
  border: 0;
}


#content-filter{
  padding: 8px 0;
}

.sidenav-menu{
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.side-main-menu{
  display: none;
}



.mobile-menu .main-menu{
  flex-direction: row;
  width: auto;
}
.mobile-menu .main-menu .menu-item a{
  width: 64px;
  float: none;
  display: flex;
  margin: 0;
}

.sidenav .logo-container{
  border: 0;
}

#mobile-menu.sidenav li>a {
    color: rgba(0,0,0,0.87);
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 16px;
  }

  #mobile-menu.sidenav .user-view{
    padding: 16px;
    height: auto;
    line-height: 1.5;
  }

  #mobile-menu.sidenav li.active .material-icons, #mobile-menu.sidenav li.current-category-ancestor .material-icons{
    color: rgba(0,0,0,0.87);
  }

  .sidenav-trigger[data-target="mobile-menu"]{

  }

  .collapsible-body{
    padding: 1rem;
  }


.empty-state{
  height: 100%;
}

.empty-state-title{
  margin: 16px 0 0 0;
}

#content{
  flex-grow: 1;
}






input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea{
  border: 1px solid rgba(0,0,0,0.32);
  border-radius: 8px;
  padding: 0 14px;
  box-sizing: border-box;
  margin: 0;
}

input[type=search]:not(.browser-default){
  border: 0;
}

.input-field.col label{
  left: 20px;
  background: #fff;
  padding: 0 4px;
  width: auto!important;
  z-index: 1;
}

.select-wrapper .caret{
  right: 8px
}

.input-field>label:not(.label-icon).active{
  transform: translateY(-8px) scale(0.8);
  z-index: 1;
}

.select-wrapper+label{
  top: -20px;
}


.mobile-menu-bottom{
  display: flex;
}

.mobile-menu{
  background-color: #0747A6;
}

#menu-mobile-menu{
  display: flex;
  align-items: stretch;
  height: 100%;
}

#mobile-bottom-menu{
  display: flex;
  background-color: #0747A6;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 64px;
  align-items: stretch;
  z-index: 1;

}

#mobile-bottom-menu .menu-mobile-menu-container{
  width: 75%;
}

#mobile-bottom-menu ul{
  margin: 0;
}

#mobile-bottom-menu li{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#mobile-bottom-menu li a{
  color: rgb(255 255 255 / 87%);
  font-size: 12px;
}

#mobile-bottom-menu .material-icons{
  display: block;
  color: rgb(255 255 255 / 87%);
  margin: 0 auto 4px auto;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
  box-shadow: none;
  border-color: rgb(7 71 166 / 87%);
}

.input-field>input:focus ~ label:not(.label-icon){
    color: rgb(7 71 166 / 87%);
}

.page-footer{
  padding: 16px 0 0 0;
  margin: 0 0 -8px 0;
}


@media only screen and (max-width: 600px){
  .page-content{
    margin: 0;
    padding: 16px;
  }
  .view-details-link{
    font-size: 16px;
  }
  .card td{
    height: 64px;
  }
  .status-cell{
    padding: 0;
  }
  .page-content header, .catalog header{
    min-height: 48px;
  }

}

@media only screen and (max-width: 993px){
  #page{
    padding-bottom: 64px;
  }
}


#data_form iframe{
  min-height: 600px
}

.wp-editor-wrap{
  z-index: 2
}

.page-header > section{
  flex-basis: 33.3333%;
}

.profile__name{
  font-size: 24px;
}

.user-profile_avatar{
  border-radius: 6px;
}


[type="checkbox"]+span:not(.lever){
  display: block;
  height: 20px;
}
